
.container{
    

.subContainer{
    display: flex;
    justify-content: space-between;
    padding:.1rem 3rem;
    padding-left: 25rem;
    
    

.dashboard{
    font-size: 2rem;
    font-weight:bold;
    padding-left: 2rem;
}


    .profile{
        display: flex;
        align-items: center;
        justify-content:space-between;
        gap: 2rem;



        
    }


}

}